<h1>Demand#new</h1>
<p>Find me in app/views/demand/new.html.erb</p>
<%= form_for :demand_route, :url => {:action => "create"} do |f| %>
<p>
<%= f.label :origin %>
<%= f.text_field :origin, :placeholder => "From.." %>
</p>
<p>
<%= f.label :dest %>
<%= f.text_field :dest, :placeholder => "To.." %>
</p>
<p>
<%= f.label :departure %>
<%= f.date_select :departure %>
</p>
<%= f.submit "Create Demand" %>
<% end %>
